{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}


    <!-- if logged in -->
    {% if user.is_authenticated %}

        <!-- descrip -->
        <div class="container mt-4">
            <h1 class="display-6">
                {{ user.username }}'s List:
            </h1>
        </div>
        <!-- content -->
        <div class="container mt-1">
            <div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="position-fixed bottom-0 end-0 p-3">
                            <div class="" role="alert" aria-live="assertive" aria-atomic="true"
                                 data-bs-autohide="false">
                                <div class="d-flex">
                                    <div class="toast-body">
                                        {{ message }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>


            <div class="container-sm mt-3 ">
                {% for todo in todos %}
                    <div class="d-flex justify-content-between align-items-center border-bottom">
                        <div class="d-flex flex-row align-items-center">
                            {% if todo.completed == True %}
                                <div class="m-1">
                                    <a class="btn " href="{% url 'mark_incomplete' todo.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-check2-all text-success"
                                             viewBox="0 0 16 16">
                                            <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                                            <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="m-1">
                                    <a class="btn " href="{% url 'mark_incomplete' todo.id %}">
                                <span class="m-0 p-0 lead text-success"
                                      style="text-decoration: line-through">{{ todo.task }}</span>
                                    </a>

                                </div>
                            {% else %}
                                <div class="m-1">
                                    <a class="btn " href="{% url 'mark_complete' todo.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="m-1">
                                    <a class="btn " href="{% url 'mark_complete' todo.id %}">
                                        <span class="m-0 p-0 lead">{{ todo.task }}</span>
                                    </a>

                                </div>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-row">
                            <div class="m-1">
                                <a class="btn" href="{% url 'edit' todo.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd"
                                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="m-1">
                                <a class="btn" href="{% url 'delete' todo.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg>
                                </a>

                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <!-- add tasks  -->
        <div class="container mt-3 mb-5">
            <div class="container-fluid  shadow p-2 rounded">
                <form method="POST" class="d-flex">
                    {% csrf_token %}
                    <input class="form-control" type="text" placeholder="What need to be done" name="task">
                    <button class="btn btn-lg btn-outline-success shadow" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>

    {% else %}
        <div class="container text-center">
            <h2 class="display-5">Welcome!</h2>
            <p class="lead mt-5">You are not logged in</p>
            <div class="container mt-5">
                <a class="btn btn-outline-success" href="{% url 'login' %}">Log In</a>

                <a class="btn btn-outline-primary" href="{% url 'signup' %}">Sign up</a>
            </div>

        </div>
    {% endif %}


{% endblock %}